@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
    background-color: #F3F4F6;
}

.container-fluid{
    width: 100%;
    height: fit-content;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Phần navbar */
nav{
    background-color: #4338CA;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;

}

nav h1{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* Phần popUp mở xác nhận đăng xuất, phần overlay hiện ra */
#modal,
.overlay{
    display: none;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    text-align: center;
    z-index: 20;
    text-align: start;
}

#modal h1{
    font-size: 30px;
    padding: 5px 0 10px;
}

#modal .logOutButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#modal .logOutButton button{
    padding: 10px 20px;
    border: transparent;
    background-color: transparent;
    color: white;
    border-radius: 8px;
    color: black;
}

/* phần banners */
.banners{
    background-color: #4F46E5;
    color: white;
    border-radius: 12px;
    max-width: 768px;
    max-height: 124px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 8px;
}

.banners .top{
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.banners .bottom{
    font-weight: 400;
    font-size: 13.89px;
    line-height: 20px;
}

/* Phần nội dung chính */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 720px;
    width: 100%;
}

main input,
main select{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #DEE2E6;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

main .title{
    color: #4F46E5;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
/* Chọn tháng */
main .month{
    height: 90px;
    color: #6B7280;
}

main .month form{
    display: flex;
    flex-direction: row;
    gap: 12.45px;
    align-items: center;
}

/* Ngân sách */
main .budget{
    height: 90px;
    color: #6B7280;
}

main .budget form{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}


main .budget button{
    background-color: #3B82F6;
    border: transparent;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    transition: 0.3s linear all;
}

main .budget button:hover{
    cursor: pointer;
    background-color: #005ef5;
}

/* Số tiền còn lại */
main .remainAmount{
    height: 104px;
    font-size: 15.88px;
    font-weight: 400;
    line-height: 24px;
    color: #6B7280;
}

main .remainAmount #remainAmount{
    color: #22C55E;
    font-size: 24px;
    line-height: 32px;
}

/* Quản lý danh mục */
main .categoryManagement{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main .categoryManagement p{
    color: #212529;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 8px;
}

/* Thêm danh mục */
main .categoryManagement form{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;
}   

main .categoryManagement input{
    width: 246.42px;
    height: 42px;
}

main .categoryManagement form button{
    border-radius: 6px;
    width: 163.16px;
    height: 42px;
    background-color: #22C55E;
    border: transparent;
    color: white;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s linear all;
}

main .categoryManagement form button:hover{
    cursor: pointer;
    background-color: #008932;
}

/* Danh sách các danh mục */
main .categoryManagement .categoryList{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .categoryManagement .categoryList ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0;
}

main .categoryManagement .categoryList ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB;
}

main .categoryManagement .categoryList ul li p{
    font-size: 14px;
    line-height: 20px;
    align-items: center;
}

/* Nút sửa, xoá của danh mục */
main .categoryManagement .categoryList ul li .function{
    color: #DC2626;
    font-size: 12px;
    line-height: 16px;
    transition: 0.3s linear all;
}

main .categoryManagement .categoryList ul li .function:hover{
    cursor: pointer;
    color: #b50000;
    
}

/* Thêm chi tiêu */

main .addSpending{
    height: 90px;
    width: 100%;
}

main .addSpending form{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
/* căn chỉnh các ô trong form */
main .addSpending form .addSpendingInput{
    width: calc((100% - 24px) /4);
    height: 42px;
    font-size: 16px;
    line-height: 24px;
}

main .addSpending form button{
    background-color: #6366F1;
    border: transparent;
    border-radius: 6px;
    color: white;
    transition: 0.3s linear all;
}

main .addSpending form button:hover{
    cursor: pointer;
    background-color:#3034ff ;
}

/* Lịch sử giao dịch */

main .historySpending .title{
    text-align: left;
    font-size: 17.72px;
    line-height: 28px;
    color: #EF4444;
    align-self: flex-start;
}

main .historySpending form{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

main .historySpending .historyList{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .historySpending .historyList ul{
    padding: 0;
    margin: 0;
}

main .historySpending .historyList ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E5E7EB;
    align-items: center;
}

main .historySpending .historyList ul li p{
    font-size: 14px;
    line-height: 20px;
}

/* Nút sửa, xoá của danh mục */
main .historySpending .historyList ul li .function{
    color: #DC2626;
    font-size: 20px;
    line-height: 28px;
    transition: 0.3s linear all;
}

main .historySpending .historyList ul li .function:hover{
    cursor: pointer;
    color: #b50000;
    
}

main .historySpending #pagination{
    margin-top: 24px;
}

/* Cảnh báo vượt quá hạn mức */
main #error{
    display: none
}

main #error.active {
    display: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    align-items: flex-start;
    color: #DC2626;
    justify-content: center;

}

/* Bảng thống kê chi tiêu */


.statisticsSpending{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
    max-width: 768px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 8px;
}

.statisticsSpending p{
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    color: #212529;
    align-self: flex-start;
}

.statisticsSpending table thead th,
.statisticsSpending table tbody td{
    color: #374151;
    font-size: 14px;
    line-height: 20px;
}

/* Footer */
footer{
    background-color: #4338CA;
    height: 68px;
    width: 100%;
    color: white;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

/* Nếu lỗi thì đổi ô input thành màu đỏ */
.active{
    border-color: red;
}